body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4d5051;
    background-color: #d6d6d6;
    background-image: url(top-rept.jpg);
    background-repeat: repeat-x;
    background-position: left top;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
    padding: 0px;
    margin: 0px;
}
a {
    color: #072FCF;
    text-decoration: underline;
}
a:hover {
    color: #607e00;
    text-decoration: none;
}
.page-in {
    background-image: url(bottom-rept.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    width: 100%;
    float: left;
}
.page {
    width: 1000px;
    margin: 0px auto;
}
.main, .header {
    width: 1000px;
    float: left;
}
.header-top {
    background-image: url(header-top.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1000px;
    height: 81px;
    float: left;
}
.header-top h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    font-weight: normal;
    line-height: 81px;
    color: #FFFFFF;
    margin-left: 115px;
}
.header-top h1 span {
    color: #000000;
}
.header-bottom {
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1000px;
    height: 257px;
    float: left;
}
.header-bottom h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin-top: 92px;
    margin-left: 27px;
}
.topmenu {
    background-image: url(menu-bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 1000px;
    height: 74px;
    float: left;
}
.topmenu ul {
    height: 74px;
    margin-left: 64px;
    list-style-type: none;
}
.topmenu ul li {
    background-image: url(devider.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 74px;
    float: left;
    padding-right: 13px;
    padding-left: 13px;
}
.topmenu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 74px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    height: 74px;
    float: left;
    padding-left: 15px;
}
.topmenu ul li a span {
    display: block;
    height: 74px;
    float: left;
    padding-right: 35px;
    cursor: pointer;
}
.topmenu ul li a:hover {
    background-image: url(menu-left.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}
.topmenu ul li a:hover span {
    background-image: url(menu-right.jpg);
    background-repeat: no-repeat;
    background-position: right top;
}
.content {
    background-color: #FFFFFF;
    background-image: url(body-top.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 952px;
    float: left;
    padding: 30px 24px 0px 24px;
}
.content-left {
    background-image: url(vline.jpg);
    background-repeat: repeat-y;
    background-position: right top;
    width: 1px;
    float: left;
    padding-right: 21px;
}
.row1 {
    width: 950px;
    float: left;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 30px;
}
.title span {
    color: #82ab01;
}
.copyright {
    border: 0px;
    height: 1px;
    width: 1px;
}
ul.list1 {
    margin-top: 5px;
    margin-left: 25px;
    list-style-image: url(bullet.jpg);
}
ul.list1 li {
    padding-top: 3px;
    padding-bottom: 3px;
}
.row2 {
    background-image: url(section-bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 591px;
    height: 233px;
    float: left;
    padding: 15px 15px 0px 15px;
}
.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #171817;
    margin-bottom: 10px;
}
.subtitle span {
    color: #607e00;
}
a.more {
    font-size: 12px;
    line-height: 30px;
    color: #282828;
    text-decoration: none;
    background-image: url(more-btn.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    text-align: center;
    display: block;
    width: 83px;
    height: 38px;
    margin-top: 10px;
}
a.more:hover {
    color: #607e00;
}
.content-right {
    width: 310px;
    float: right;
    padding-top: 7px;
}
.mainmenu, .contact {
    width: 310px;
    float: right;
}
.sidebar1 {
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
    background-image: url(sidebar1.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 50px;
    padding-left: 60px;
    margin-bottom: 15px;
}
.mainmenu ul {
    margin-bottom: 15px;
    list-style-type: none;
}
.mainmenu ul li {
    background-image: url(bullet.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
}
.mainmenu ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}
.mainmenu ul li a:hover {
    text-decoration: none;
}
.sidebar2 {
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
    background-image: url(sidebar2.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 50px;
    padding-left: 60px;
    margin-bottom: 10px;
}
.contact-detail {
    background-color: #dcdcdc;
    width: 280px;
    float: right;
    padding: 15px;
}
.contact-detail p {
    margin-bottom: 10px;
}
.green {
    color: #003300;
}
.footer {
    line-height: 69px;
    background-image: url(footer.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 952px;
    height: 69px;
    float: left;
    padding: 23px 24px 0px 24px;
}
.footer p {
    font-size: 11px;
    color: #FFFFFF;
    float: left;
}
.footer a {
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: none;
}
.footer ul {
    float: right;
}
.footer ul li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #FFFFFF;
}
.footer ul li a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer ul li a:hover {
    text-decoration: underline;
}

.tsc_table_s8 {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
}
.tsc_table_s8 thead th {
    background-color: #a3c159;
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    height: 25px;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
}

.tsc_table_s8 tfoot {
    border-top: 6px solid #e9f7f6;
    color: #1ba6b2;
    font-size: 1.2em;
    margin-top: 6px;
    padding: 2px;
    text-transform: uppercase;
}
.tsc_table_s8 tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.tsc_table_s8 tbody th {
    padding: 2px;
    text-align: left;
}

.tsc_table_s8 tbody td {
    color: #414141;
    padding: 5px;
    text-align: left;
}
.tsc_table_s8 tbody td a, .tsc_table_s8 tbody th a {
    color: #6c8c37;
    display: block;
    font-weight: normal;
    padding-left: 15px;
    text-decoration: none;
}
 * {
    outline: medium none;
}